<h1>Welcome to example.com, <%= @object.email %></h1>
<% byebug %>
  Your Order is ready with the items:
  
  <% @object.order_items.each  do |item| %>
    <% product = Product.find(item.product_id) %><br> 
    <br>name : <span><%= product.name %></span><br>
    <br>description : <span><%= product.description %></span><br> 
    <br>price : <span><%= product.price  %></span><br> 
    <br>quantity : <span><%= @object.order_items.first[:quantity] %></span> 
  <% end %><br> 
  <br>  having an amount of <%= @object.total_price %> 


<p>Thanks for joining us.</p>
